project:
  type: website

website:
  title: Olivier Bonte
  navbar:
    search: true
    left:
      - href: about.qmd
        text: About
      - CV.qmd


format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true



